/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

/* type-scale.com */
/*   base size = 18 */
/*   major third */
html {
	font-size: 1.125em;
}

body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.45;
	color: #333;
}

p {
	margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
	margin: 1.414em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}

h1 {
	margin-top: 0;
	font-size: 2.441em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
}

small, 
.font_small {
	font-size: 0.8em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* ================================= 
  Page Styles
==================================== */

/* Splash */
#splash {
	max-width: 100%;
	max-height: auto;
}

.wrapper-top {
	margin-top: 15vh;
	margin-right: auto;
	margin-left: auto;
}

/* Feature */
.wrapper-feature h1 {
	text-align: center;
}

.wrapper-feature h2 {
	text-align: center;
}

.wrapper-feature {
	background-color: #ababab;
}

/* Beach */
#photo-beach {
	max-width: 100%;
	max-height: auto;
}

.wrapper-beach {
	margin-top: 15vh;
	margin-bottom: 15vh;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	/* ================================= 
		Page Styles
	==================================== */
	
	.wrapper-feature #photo-money1,
	.wrapper-feature #photo-money2 {
		display: none;
	}
}

@media (min-width: 680px) {
	/* ================================= 
		Page Styles
	==================================== */
	
	/* Sidebars */
	body {
		background-image: url(../img/photo-water.jpg);
		background-attachment: fixed;
		background-size: cover;
	}
	
	.wrapper-top {
		max-width: 80%
	}
	
	/* feature */
	.wrapper-feature #photo-money1,
	.wrapper-feature #photo-money2 {
		float: left;
		max-width: 25%;
		height: auto;
	}
}