/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
	background-color: #ababab;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.45;
	color: #333;
}

p {
	margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
	margin: 1.414em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}

h1 {
	font-size: 2.441em;
	font-weight: 500;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	letter-spacing: -.05em;
	
	/* rythm */
	margin: 0 0 .5em;
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
	margin: 0 0 1.05em;
}

small, 
.font_small {
	font-size: 0.8em;
}

strong {
	font-weight: 500;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.dropcap {
	font-family: 'Roboto Slab', serif;
	font-size: 2.9em;
	display: block;
	float: left;
	width: .8em;
	height: .7em;
	line-height: 1;
	margin: 0;
}

/* ================================= 
  Page Styles
==================================== */

/* Splash */
#splash {
	max-width: 100%;
	max-height: auto;
}

.wrapper-top {
	margin-right: auto;
	margin-left: auto;
	background-color: #ababab;
}

.wrapper-opportunities {
	background-color: #ababab;
}

/* Feature */
.wrapper-feature h1 {
	text-align: center;
}

.wrapper-feature h2 {
	text-align: center;
}

.wrapper-feature h3 {
	text-align: center;
}

.wrapper-feature h4 {
	text-align: center;
}

.wrapper-feature {
	max-width: 31.5rem;
	width: 88%;
	margin-right: auto;
	margin-left: auto;

	/* rythm */
	padding: 4.5em 0 0 0;
}

/* add space to bottom of opportunities */
.wrapper-feature:last-child {
	padding: 4.5em 0;
}

/* Beach */
#photo-beach {
	max-width: 100%;
	max-height: auto;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 41em) {
	/* type-scale.com */
	/*   base size = 18 */
	/*   major third */
	html {
		font-size: 0.875em;
	}
	
	.main-header {
		font-size: 1.125em;		
	}

	/* ================================= 
		Page Styles
	==================================== */
	
	.wrapper-feature #photo-money1,
	.wrapper-feature #photo-money2 {
		display: none;
	}
}

@media (min-width: 42em) {
	/* ================================= 
		Page Styles
	==================================== */
	/* type-scale.com */
	/*   base size = 18 */
	/*   major third */
	html {
		font-size: 1.125em;
	}

	/* Sidebars */
	body {
		background-image: url(../img/photo-water.jpg);
		background-attachment: fixed;
		background-size: cover;
	}
	
	.wrapper-top {
		margin-top: 15vh;
		max-width: 70%
	}
	
	/* feature */
	.wrapper-feature #photo-money1,
	.wrapper-feature #photo-money2 {
		float: right;
		max-width: 50%;
		height: auto;
		margin-left: 1.5em;
	}
	
	/* beach */
	.wrapper-beach {
		margin-top: 15vh;
		margin-bottom: 15vh;
	}

}

/* ================================= 
  nav Main Styles
==================================== */

.main-header,
.nav {
	display: flex;
	flex-direction: column;
}

.main-header {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #000;
}

.site-logo {
	align-self: center;
	font-size: 1.125em;
	color: #fff;	 
	background-color: #797e83;
	padding: 0.3em;
	border-radius: .5em;
}

.site-logo:hover {
	color: #000;	
}

.nav {
	margin-top: 1.5em;
}

.nav a {
	display: block;
	color: #797e83;
	font-size: 1.125em;
	font-weight: 500;
	text-align: center;
	padding: .4em;
	border-bottom: 1px solid #ebecec;
}

.nav a:hover {
	color: #fff;
	border-bottom-color: #22627e;
	text-decoration: none;
}

/* ================================= 
  nav Media Queries
==================================== */

@media (min-width: 769px) {
	
	.site-logo {
		margin-left: 3em;
	}
	
	.main-header {
		justify-content: flex-end;
		height: 200px;
	}
	
	.nav {
		margin-top: 3em;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.nav a {
		border-bottom-color: transparent;
	}
}

@media (min-width: 1025px) {
	
	.main-header {
		flex-direction: row;
		height: 100px;
	}
	
	.site-logo {
		margin-right: auto;
	}
	
	.nav {
		margin-top: 0;
		align-self: center;
	}
	
	.nav li {
		margin-left: .65em;
		margin-right: .65em;
	}
}


